<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django-rest socnet</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="SocModule">
<div ng-view>

    <div ng-controller="PostsController">
        <form ng-submit="submit_post()">
            <input type="text" placeholder="title" ng-model="data.title"/>
            <input type="text" placeholder="description" ng-model="data.description"/>
            <input type="submit" value="OK"/>
        </form>

        <div>
            <ul> All posts

                <li ng-repeat="p in posts">
                    <p>{{ p.title }}</p>
                    <p>{{ p.description }}</p>
                    <form ng-submit="submit_like()">
                        <input type="number" ng-model = "data.post_id" value="{{ p.id }}" style="visibility: hidden"/>
                        <input type="submit" value="Like"/>
                    </form>
                </li>

            </ul>
        </div>
    </div>


</div>
</body>